.install{
	text-align:center;
	h2{
		font-size:48px;
		color:#699;
		font-weight:300;
	}
	.list-columns{
		li{
			@include span(6);
			list-style-position:inside;
			@extend %fill-img;
			h3{
				display:inline-block;
			}
		}
	}
}