.banner{
	margin:0;
	@include padding-leader(0.5);
	.site-brand{
		@include span(3);
		text-align:left;
		margin:0;
		img{
			height:96px;
			@include breakpoint($screen-xs){
				height:48px;
			}
		}
	}

	.navigation{
		@include span(9);
		text-align:right;

		ul{
			li{
				list-style:none;
				display:inline-block; 
				line-height:96px;
			}
		}
		a{
			padding:0.75em 1em;
			color:#c69;
			text-transform:uppercase;
			text-decoration:none;
			font-weight:600;
			&:visited{
				color:#b37399;
			}
			&:hover,&:focus{
				color:#036;
			}
		}
		@include breakpoint($screen-xs){
			display:none
		}
	}
	.container{
		position:relative;
	}
	.banner-toggle{
		display:none;
		position: absolute;
		top:0;
		right:16px;
		button {
		    width: 48px;
		    height: 48px;
		    padding: 0;
		    box-shadow: none;
		    border-color: transparent;
		    background: none;
		    color: inherit;
		}
		.icon-bar{
			margin:0.375em auto;
			width:2em;
			display:block;
			height:0.125em;
			background-color: #c69;
		}
		@include breakpoint($screen-xs){
			display:block;
		}
	}
}